extends ../layouts/common
block content
	h1 New Transfer
	form(action = "/transfer/create" method = "POST") 
		input(type="hidden", name="_csrf", value=csrfToken)
		.form-group
			label(for="account") Account 
			input#account.ml-1.form-control(name = "accountID", type = "text")

		.form-group
			label(for="amount") Amount
			input#amount.ml-1.form-control(name = "amount", type = "number")
		button.btn.btn-primary Transfer